<section id="sobre-mi" class="sobre-mi seccion-oscura">
  <div>
    <button type="button" class="btn btn-outline-primary border-0 float-end" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <i class="bi bi-pencil-square"></i>
  </button>
  </div>
  
    <div class="contenedor">
      <h2 class="seccion-titulo">Sobre mi</h2>
      
      <p class="seccion-texto">
          En esta sección se
          encuentra tu foto de
          perfil, nombre y titulo
          que tienes (Full Stack
          Developer Jr); En esta
          sección debes poner
          información
          profesional resumida
          sobre vos
      </p>
    </div>
</section>
