<footer class="seccion-oscura d-flex flex-column align-items-center justify-content-center">        
    <div class="iconos-redes-sociales d-flex flex-wrap align-items-center justify-content-center">          
    <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-instagram"></i>
    </a>          
    <a href="https://github.com/matiasleopatri" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-github"></i>
    </a>
    <a href="https://www.linkedin.com/in/fabio-mat%C3%ADas-leopatri-6a9a95251/" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-linkedin"></i>
    </a>
    <a href="mailto:matasleopatri@gmail.com" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-envelope"></i>
    </a>
  </div>
  <img class="footer-logo" src="imagenes/APLogo-20-20.png" alt="">
  <img class="footer-logo" src="imagenes/LogosInti.png" alt="">               
  <div class="derechos-de-autor">Creado por Fabio Matias Leopatri (2022) &#169;</div>  
          
</footer>
