<section id="contacto" class="contacto seccion-oscura">
    <div class="container">
      <div class="container text-center rectangulo d-flex justify-content-evenly">
        <div class="row">
          <div class="col-12 col-md-4 seccion-titulo">
            ¡Hablemos!
          </div>
          <div class="col-12 col-md-4 descripcion">
            Si tenes consultas, o si crees que puedo ayudarte en algo no dudes en escribirme. 
          </div>
          <div class="col-12 col-md-4">
            <a href="mailto:matiasleopatri@gmail.com">
              <button type="button">
                contacto
                <i class="bi bi-envelope-check-fill"></i>
              </button>
            </a>                  
          </div>
        </div>
      </div>
    </div>
</section>
