<span>
    <div>
        <button type="button" class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="bi bi-pencil-square"></i>
          </button>
    </div>
   <div class="hero align-items-stretch">
    <div class="hero-banner">
        <img class="hero-banner-imagen img-fluid rounded-circle imagen-perfil" src=".\assets\imagenes\20200102_200252.jpg" alt="">
        <h1> Hola, soy Fabio Matias Leopatri</h1>
        <h2>Full Stack Developer Jr.</h2>
    </div>
</div> 
</span>
